@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #374151;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --foreground: #d1d5db;
  }
}

body {
  @apply size-full m-0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
